 <!-- about us  -->
 <div id="about us" class="tabcontent">
    <img src="../../assets/images/about.jpg" alt="about us" width="100%" height="40%">
    <div class="container">
      <div class="row">
        <div class="col">

          <br>
          <h2>About Us</h2>

          <br>
          <p> <i style="color:blue;">AAVAS FINANCIERS LIMITED</i> (Formerly known as “Au HOUSING FINANCE LIMITED”) was
            originally incorporated as a private limited company at Jaipur, Rajasthan, under the name of "Au Housing
            Finance Private Limited" on February 23,2011.</p>
        </div>
        <div class="col">
          <br>
          <br>
          <br>

          <img src="../../assets/images/awards.jpg" alt="about aavas">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h3>2011</h3>
          <p>Company got registered with National Housing Bank as a Housing Finance Company (HFC) and awarded the
            license from National Housing Bank (NHB) in August 2011.

            It formally started its operations in March, 2012.</p>
        </div>
        <div class="col">
          <h3>2013</h3>
          <p>Subsequently, the name of the Company was changed to "Au Housing Finance Limited" due to conversion from
            a
            private company to a public company on January 10, 2013.</p>
        </div>
        <div class="col">
          <h3>2017</h3>
          <p>In March, 2017, the name of the company was changed from “Au HOUSING FINANCE LIMITED" to "AAVAS
            FINANCIERS
            LIMITED” (AAVAS) vide fresh Certificate of Incorporation (COI) dated 29th March, 2017.</p>
        </div>
      </div>
      <p>AAVAS is engaged in the business of providing housing loans, primarily in the un-served, unreached and
        under-served market which include the States of Rajasthan, Maharashtra, Gujarat, Madhya Pradesh, Haryana,
        Uttar
        Pradesh, Chhattisgarh, Uttarakhand, Punjab, Himachal Pradesh, Delhi, Odisha and Karnataka.</p>

      <h3>Products</h3>
      <p>AAVAS is engaged in 3 types of products mentioned below under its housing finance business:-</p>

      <!-- <div> -->
      <!-- <div class="row">
                                        <div class="col">
                                          <img src="/images/financeAndServices.jpg" alt="finance for purchase" width="10%" height="10%">
                                          <div class="col">
                                            <img src="/images/financeAndServices.jpg" alt="finance for purchase" width="10%" height="10%">
                                          </div>
                                          <div class="col">
                                            <img src="/images/financeAndServices.jpg" alt="finance for purchase" width="10%" height="10%">
                                          </div>
                                        </div> -->
      <!-- </div> -->
      <br>

    </div>

    <div class="row">
      <div class="col">

        <img src="../../assets/images/home-loan-icon.png" alt="finance for purchase" width="20%" height="20%">
        <h3> &nbsp; Finance for Purchase</h3>
        <p>&nbsp; The product is designed to purchase individual dwelling units, flats in low cost buildings, detached and
          semi-detached units, cluster units, and residential units. This is also applicable for properties under
          construction or ready built property.
        </p>
      </div>
      <div class="col">

        <img src="../../assets/images/construction-Loan.png" alt="finance for purchase" width="20%" height="20%">
        <!-- <i class="ph-wall"></i> -->
        <h3>Finance for Construction</h3>
        <p>The product is designed to offer loans for construction on a plot of land, which has been already acquired.
        </p>
      </div>
      <div class="col">
        <img src="../../assets/images/home-improvement-loan-icon.png" alt="finance for purchase" width="20%" height="20%">
        <!-- <i class="ph-shopping-cart"></i> -->

        <h3>Finance for Home Extension</h3>
        <p>This product is designed to offer loans to individuals for extension of an existing home unit, which can
          include construction of additional rooms, floors etc.</p>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col">
        <p>&nbsp; AAVAS also launched "Special Urban Low Income Housing Product" and "Specific Women Ownership Product" in
          line
          with NHB's refinance scheme for the Special Urban Housing Refinance Scheme for Low Income Households and
          Refinance Scheme for Women.</p>
      </div>
    </div>
  </div>


