
  <div id="home" class="tabcontent" >
    <img src="../../assets/images/home.jpg" alt="home" width="100%" height="30%">
    <br>
    <br>


    <h3>our home loan products</h3>
    <br>
    <br>
    <div class="container">
      <div class="row">
        <div class="col">

          <img src="../../assets/images/home-loan-icon.png" alt="home loan" width="50%" height="50%">
          <br>
          home loan
        </div>
        <div class="col">
          <img src="../../assets/images/construction-Loan.png" alt="home construction loan" width="50%" height="50%">
          <br>
          home construction loan
        </div>
        <div class="col">
          <img src="../../assets/images/loan-against-property-icon.png" alt="finance for purchase" width="50%" height="50%">
          <br>
          MSME business loan
        </div>
        <div class="col">
          <img src="../../assets/images/loan-against-property-icon.png" alt="loan against property" width="50%" height="50%">
          <br>
          loan against property
        </div>
        <div class="col">
          <img src="../../assets/images/home-improvement-loan-icon.png" alt="fhome improvement loan" width="50%" height="50%">
          <br>
          home improvement loan
        </div>
      </div>
      <br>


      <div class="row">
        <div class="col">
          <h3>Download Aavas Loan App</h3>
          <br>
          <p>Aavas Loan Mobile App offers wide range of services related to home loans. Aavas Loan app is quick, easy
            and convenient to use. The app offers a wide range of services for existing as well as prospective
            customers.</p>
          <ul>
            <li>Apply for Loan</li>
            <li>Get Loan details & outstanding details</li>
            <li>Download Interest & provisional certificates</li>
            <li>Apply for Partial Disbursement</li>
            <li><button type="button"><a
                  href="https://play.google.com/store/apps/details?id=com.aavas.homeloan">download now</a> </button>
            </li>
          </ul>
        </div>
        <div class="col">
          <img src="../../assets/images/hand-phone.png" alt="download app">
        </div>
      </div>
    </div>
  </div>
